<h3 style="float: left;">Design</h3>

<% var collapse = view.collapsed == true ? 'hidden ' : ''; %>
<% var expand = view.collapsed != true ? 'hidden ' : ''; %>

<button style="float: left; margin-left: 4px; margin-top: 20px" name="collapse" class="<%=collapse%>glyphicon glyphicon-chevron-up"></button>
<button style="float: left; margin-left: 4px; margin-top: 20px" name="expand" class="<%=expand%>glyphicon glyphicon-chevron-down"></button>

<div class="clearfix"></div>
<form class="<%=collapse%>">
    <% var model = view.collection.toModel() %>
    <% var collection = view.collection.objects['consumer']; %>
    <% var schema = collection.toSchema() %>
    <% var cls = view.invalid == true ? ' has-warning' : ''; %>
    <div class="form-group form-collection-admin">
        <div style="float: left; width: 40px;">
            <button name="save" title="Save Schema" class="pull-left glyphicon glyphicon-save"></button>
            <div class="clearfix"></div>
        </div>
        <div style="margin-left: 40px;">
        <% _.each(model.render, function(point) { %>
          <% if (point.type=='bool') { %>
            <button type="button" name="<%=point.id%>" class="btn<%=model.get(point.id) == true ? ' btn-primary' : ' btn-default'%>"><%=point.label%></button>
          <% } %>
        <% }); %>
            <hr />
            <div class="form-label">
                <label name="collection.label" class="control-label pull-left"><%=view.collection.label%></label>
                <textarea name="collection.label" class="hidden"><%=view.collection.label%></textarea>
            </div>
            <div class="clearfix"></div>
            <div class="pull-right">
            <% _.each(schema, function(point) { %>
              <% if (point.type == 'bool') { %>
                <button type="button" name="<%=point.id%>" class="btn"><%=point._label%></button>
                <div class="edit hidden"></div>
                <% if (point.update) { %>
                <button name="" title="" class="glyphicon glyphicon-filter"></button>
                <% } %>
              <% } %>
            <% }); %>
            </div>
        </div>
        <div class="clearfix"></div>
    <% _.each(schema, function(point) { %>
      <% if (point.type == 'str') { %>
        <div class="form-group">
            <div style="float: left; width: 40px;"></div>
            <div style="margin-left: 40px;" class="<%=point.required ? 'required':''%>">
                <button name="" title="<%=point.required ? 'Required': 'Not Required'%>" class="pull-left glyphicon glyphicon-circle-arrow-right"></button>
                <label name="" class="control-label pull-left"><%=point._label%></label>
                <textarea name="<%=point.id%>" class="form-control"></textarea>
            </div>
        </div>
      <% } %>
    <% }); %>
    </div>
</form>