<h3>Play</h3>
<h4>with Elementals</h4>
<style>
.separator {
    float: left;
    width
}
.elemental, .collection {
    float: left;
    margin: .5em;
    width: auto;
    min-height: 20px;
    min-width: 20px;
    border: 1px solid green;
}
.collection {
    border: 1px solid blue;
}
.collection.selected {
    border: 1px solid orange;
}
.elemental.selected {
    border: 1px solid red;
}
.elemental.over {
    border: 2px dotted blue;
}
.elemental.dragged {
    border: 1px dotted gray;
}
</style>
<form>
    <button name="new" title="New Elemental" class="pull-left glyphicon glyphicon-plus"></button>
</form>
<div class="clearfix"></div>
<div class="playarea" style="border: #aaa 1px solid; width: 500px; height: 500px; margin: 1em; padding: 1em;">
<% var view = v;

function drawElemental(el, idx) {
    var type = el.type || '',
        selected = view.selected && el.id === view.selected.id ? ' selected' : '',
        dragged = view.dragged && el.id === view.dragged.id ? ' dragged' : '',
        over = view.overIdx === idx ? ' over': '';
    %>    
    <div draggable="true" class="<%=type%><%=selected%><%=dragged%><%=over%>" id="<%=el.id%>">
        <span style="z-index: 1000; float: left;"><%=idx%></span>
        <% _.each(el.children, function(elemental, idx) { 
            drawElemental(elemental, idx);
        }); %>
    </div>
<% } %>
<% drawElemental(v.parentElemental, -1); %>
</div>